
.container {
	
    color: #0000a0;
    font-family: urbana, sans-serif;
    font-size: 16px;
    background-color: #e1e1e1;
}


.heading {
	text-align: left;
	margin-top: 30px;
	margin-left: 20px;
	padding-top: 20px;
}

.customerType {
	font-size: 14px;
	color: #008000;
	display:inline;
}


.date {
	
	width: 200px;
	margin-left: 20px;
    margin-bottom:10px;
	font-size:20px;
	color:#008000;
}

.date span {
	display:inline;
}


.button-menu {
	margin-bottom: 0px;
	padding: 20px;
	display: inline;
	
}

.button-menu button,
.button-menu a button {
	width:170px;
	font-size: 16px;
	text-align: center;
	cursor: pointer;
	display: inline;
	white-space: nowrap;
	padding:2px;
}

.button-menu button:hover {
	background-color: #026595;
	color: #e1e1e1;
}


.card-customerdata {
	width: 60%;
    border: 1px solid black;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
}

td.name  {
	} 


input[type="text"] {
    width: 200px;
    font-size: 16px;
}

input[type="email"] {
    width: 180px;
    font-size: 16px;
}

input[type="number"] {
	width: 80px;
	font-size: 22px;
	text-align: right;
	padding-bottom: 2px;
}


.card-transactions {
	width: 65%;
	font-size: 18px;
    margin: 20px;
    
    padding-bottom: 20px; 
    display: inline-block;
}

table.transactions {
   border: 1px solid black;
   border-collapse: collapse;
   width: 100%;
}

table.transactions thead,
table.transactions tbody {
	display: block;
}

table.transactions tbody {
	height: 240px; 
    overflow-y: auto;
    overflow-x: hidden;
}

table.transactions th, table.transactions td {
	text-align: center;
	white-space: nowrap;
	width: 2%;
	height: 25px;
	border: 1px solid black;
}

table.transactions td a:hover {
	color: #910000;
}

.input-row {
	
	font-size: 20px;
	background-color: #aac9e1;
	text-align: center;
}

.input-row td {
	height: 28px;
	font-size: 20px;
	background-color: #aac9e1;
	text-align: center;
	border: 1px solid black;
	padding: 0px;
}

input.transaction-input[type="text"] {
	width: 120px;
	font-size: 16px;
}

.save-button button {
	font-size: 16px;
	text-align: center;
	color: #e1e1e1;
	background-color: #910000;
	cursor: pointer;
	white-space: nowrap;
}

.save-button button:hover {
	background-color: #026595;
}

.sum-row {
	background-color: #d3ffb7;
}

.card-mailMessage {
	padding-left: 20px;
}

.email-address {
	padding-left: 20px;
}

.message-buttons button {
	cursor: pointer;
	white-space: nowrap;
	font-size: 16px;
	text-align: center;
	margin-bottom: 10px;
}

.message-buttons button:hover {
	background-color: #026595;
	color: #e1e1e1;
}

.exit-button button {
	cursor: pointer;
	white-space: nowrap;
	font-size: 16px;
	text-align: center;
}

.exit-button button:hover {
	background-color: #d70202;
	color: #e1e1e1;
}

.warning {
	color: #ff0000;
	text-align: center;
}

