
br {
    clear: both;
}

.resultHead {
    color: #0000a0;
    font-family: urbana, sans-serif;
	font-style: normal;
	font-weight: 400;
    margin-bottom: 12px;
}

.customerSearchList {
	margin-top: 10px;
	width: 55%;
	
	margin-left: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	
	color: #333333;
}

.customerSearchList ul {
    margin: 0px;
    padding: 0px;
    border-top: 1px solid #B4B4B4;
}

.customerSearchList ul li {
	list-style-type: none;
	border-bottom: 1px solid #B4B4B4;
	display: block;
}

.customerSearchList ul li a {
    text-decoration: none;
    height: 86px;
    display: block;
    padding: 10px;
    background-color: #daeafa;
}

.customerSearchList ul li a:hover {
    background-color: #add2f8;
}

.customerSearchList ul li .image {
    float: left;
    padding-right: 10px;
}

.customerSearchList ul li .customerEntry {
	overflow: hidden;
    text-overflow: ellipsis;
    color: black;
	margin-top: 10px;
	font-family: urbana, sans-serif;
	font-style: normal;
	font-size: 18px;
}

.no-results {
	padding: 10px;
}
