
br {
    clear: both;
}

.date {
	left;
	font-size:20px;
	color:#008000;
	margin-left:20px;
}

.date span {
	display:inline;
}

.resultHead {
    color: #0000a0;
    font-family: urbana, sans-serif;
	font-style: normal;
	font-weight: 400;
    margin-bottom: 12px;
    margin-left:20px;
}

.customerList {
	margin-top: 5px;
	width: 50%;
	
	margin-left: 30px;
	margin-right: auto;
	margin-bottom: 10px;
	padding-bottom: 15px;
	
	color: #333333;
}

.customerList ul {
    margin: 0px;
    padding: 0px;
    border-top: 1px solid #B4B4B4;
}

.customerList ul li {
	list-style-type: none;
	border-bottom: 1px solid #B4B4B4;
	
	display: block;
}

.customerList ul li a {
    text-decoration: none;
    height: 46px;
    width: 75%;
    display: inline-block;
    padding: 5px;
    background-color: #daeafa;
}

.customerList ul li a:hover {
    background-color: #add2f8;
}

.customerList ul li .image {
    float: left;
    padding-right: 10px;
}    

.customerList ul li .customerEntry {
	overflow: hidden;
    text-overflow: ellipsis;

    color: #0000a0;
	vertical-align: -16px;
	font-family: urbana, sans-serif;
	font-style: normal;
	font-size: 18px;
}

.type {
	display: inline;
	font-size:12px;
	color: #008000;
	float: right;
}

.customerList ul li .searchCustomerEntry {
	overflow: hidden;
    text-overflow: ellipsis;
	color: black;
	margin-top: 16px;
	font-family: urbana, sans-serif;
	font-style: normal;
	font-size: 15px;
}

.show-transactions-btn {
	display:inline-block;
	width: 20%;
	padding-left: 0px;
}
.no-data {
	padding: 10px;
}

.searchForm {
	margin-left:20px;
}

.addbutton {
	padding-bottom: 15px;
	margin-left:20px;
}

.transaction-table {
	width: 50%;
	display:none;
	margin-left: 230px;
	margin-right: auto;
	margin-bottom: 10px;
	padding-bottom: 15px;
}

table.transactions {
	
   border: 1px solid black;
   border-collapse: collapse;
   width: 100%;
}

table.transactions thead,
table.transactions tbody {
	display: block;
}

table.transactions tbody {
	height: 240px; 
    overflow-y: auto;
    overflow-x: hidden;
}

table.transactions th, table.transactions td {
	text-align: center;
	white-space: nowrap;
	width: 2%;
	height: 25px;
	border: 1px solid black;
}

table.transactions td a:hover {
	color: #910000;
}