@import url(customer-details.css);

.date {
	
	width: 200px;
	margin-left: 20px;
    margin-bottom: 0px;
	font-size:20px;
	color:#008000;
}


.side-menu {
	margin-bottom: 0px;
	
	padding: 20px;
	padding-top: 10px;
	
}

.side-menu button {
	width:170px;
	font-size: 16px;
	text-align: center;
	cursor: pointer;
	display: inline;
	white-space: nowrap;
	padding:2px;
}

.side-menu button:hover {
	background-color: #026595;
	color: #e1e1e1;
}

.card-transactions {
	width: 65%;
	font-size: 18px;
    margin: 20px;
    margin-top: 0px;
    
    padding-bottom: 20px; 
    display: inline-block;
}
