<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<title th:text="#{customerDetails.title}">Customer</title>
  	<link rel="stylesheet" href="../static/customer-details.css" th:href="@{customer-details.css}" />
  	<meta charset="utf-8" />
</head>

<body>

<div class="container">
  
<form action="#" th:action="@{/customer-details.html(customerId=${customerForm.customer.id})}" th:object="${customerForm}" method="post">
  
	<h1 class="heading" > 
  		<span th:unless="${customerForm.customer.id == null}" th:text="*{customer.fullName} + '&nbsp;'">Name</span>
    	<span th:unless="${customerForm.customer.id == null}" class="customerType" th:text="*{' *' + customer.type}">Type</span>
  	</h1>
  	
  	<h3 class="email-address" th:if="${messaging==true}">
  		<span th:text="*{customer.email}">Email Address</span>
  	</h3>
  
  	<div class="hidden-inputs" th:unless="${customerForm.customer.id == null or customerForm.modifiable == true}">
  	<input type="hidden" th:field="*{customer.id}" />
  	<input type="hidden" th:field="*{customer.version}" />
  	<input type="hidden" th:field="*{customer.fullName}" />
  	<input type="hidden" th:field="*{customer.type}" />
  	<input type="hidden" th:field="*{customer.balance}" />
  	<input type="hidden" th:field="*{customer.email}" />
  	<input type="hidden" th:field="*{customer.phone}" />
  	<input type="hidden" th:field="*{customer.billed}" />
  	<input type="hidden" th:field="*{customer.paid}" />
	</div>
	
	<div class="date">
	    <span th:text="#{customerDetails.date}">Today</span>
	    <span th:text="*{localDate}"></span>
	</div>
	  
  
	<!--  Section for BUTTONS -->  
	<div class="button-menu" th:if="${messaging}==null">
     
		<!--  Button: SAVE for adding or modifying customer -->  
		<button th:if="${customerForm.customer.id == null or customerForm.modifiable == true}" type="submit" name="action" value="save" 
	   		th:value="${T(coffein.controller.form.CustomerDetailsForm.Action).SAVE}" 
	   			th:text="#{customerDetails.form.action.save}">Save changes</button>
	   	<!--  Button: Cancel 
  		<button th:if="${customerForm.modifiable == true}" type="submit" name="action" value="cancel" 
  			th:value="${T(coffein.controller.form.CustomerDetailsForm.Action).CANCEL}" 
  				th:text="#{customerDetails.form.action.cancel}">Cancel</button> --> 
		<!--  Button: BACK to list of customers --> 
		<button type="submit" name="action" value="back" 
	   		th:value="${T(coffein.controller.form.CustomerDetailsForm.Action).BACK}" 
	   			th:text="#{customerDetails.form.action.back}">Back to list of customers</button>
		<!--  Button: Delete customer --> 
		<button th:if="${customerForm.customer.id != null}" type="submit" name="action" value="delete" 
	   		th:value="${T(coffein.controller.form.CustomerDetailsForm.Action).DELETE_CUSTOMER}" 
	   			th:text="#{customerDetails.form.action.delete}">Delete this customer</button>
		<!--  Button: Modify customer --> 
		<button th:if="${customerForm.customer.id != null and customerForm.modifiable == false}" type="submit" name="action" value="modify" 
	   		th:value="${T(coffein.controller.form.CustomerDetailsForm.Action).MODIFY}" 
	   			th:text="#{customerDetails.form.action.modify}">Modify customer data</button>
		<!--  Button: Open messaging section --> 
		<button th:if="${customerForm.customer.id != null and customerForm.modifiable != true}" type="submit" name="action" value="sendmail" 
	   		th:value="${T(coffein.controller.form.CustomerDetailsForm.Action).DISPLAY_TEMPLATE_MAIL}" 
	   			th:text="#{customerDetails.form.action.messaging}">Send message</button>
	</div>
  
   
	<!-- Table for CREATING or MODIFYING customer data: name, email, phone -->
	<div class="card-customerdata" th:if="${customerForm.customer.id == null or customerForm.modifiable == true}">

    	<table>
			<thead>
         		<tr>
           			<th th:text="#{customerDetails.form.label.fullName}">Name</th>
           			<th th:text="#{customerDetails.form.label.type}">Type</th>
           			<th class="email" th:text="#{customerDetails.form.label.email}">Email</th>
           			<th class="phone" th:text="#{customerDetails.form.label.phone}">Phone</th>
         		</tr>
       		</thead>
       		<tbody>
         		<tr>
           			<td><input  type="text" th:field="*{customer.fullName}"/></td>
           			<td>
           				<select th:field="*{customer.type}">
           					<option th:each="type : ${T(coffein.model.Customer.CustomerType).values()}"
           						th:value="${type}" th:text="${type}">
           					</option>
           	  			</select>
           	  		</td>
          			<td class="email"><input type="email" th:field="*{customer.email}" /></td>
           			<td class="phone"><input type="tel" th:field="*{customer.phone}" /></td>
         		</tr>
      		</tbody>
       
     	</table>
     	
	</div>
       
    
	<!--  Warning messages -->
	<h3 class="warning" th:if="${bindingError}" 
   		th:text="#{warnings.bindingError}">Please enter a name and a valid email address!</h3>
	<h3 class="warning" th:if="${customerExists}" 
   		th:text="#{warnings.exists}">There is already a customer with this name or email!</h3>
	<h3 class="warning" th:if="${mustSave}" 
   		th:text="#{warnings.save}">Press Save to confirm</h3>
	<h3 class="warning" th:if="${hasDebt}" 
   		th:text="#{warnings.delete}">Balance not zero</h3>
	<h3 class="warning" th:if="${amountError}" 
   		th:text="#{warnings.amountError}">Amount must not be null or negative</h3>
    
    
	<!--  Section for MESSAGING -->  
	<div class="card-mailMessage" th:if="${messaging}">
		<!--  message template --> 
 		<div class="messageBody">
 			<textarea rows = "10" cols = "75" th:field="${customerForm.message}"></textarea>
 		</div>
 			
	    <div class="signature">
	    	<p><img src="../static/images/coffee-icon.png" th:src="@{/images/coffee-icon.png}" /></p>
	    
		    <p>Regards,
		      <br />
		      <em>Kahu Café</em></p>
		</div>
    
  		<div class="message-buttons" th:if="${messaging}">
    		<!--  Button: Send email --> 
    		<button type="submit" name="action" value="send" 
    			th:value="${T(coffein.controller.form.CustomerDetailsForm.Action).SENDMAIL}" 
    				th:text="#{customerDetails.form.action.sendmail}">Send email</button>
  			<!--  Button: Cancel --> 
  			<button type="submit" name="action" value="cancel" 
  				th:value="${T(coffein.controller.form.CustomerDetailsForm.Action).CANCEL}" 
  					th:text="#{customerDetails.form.action.cancel}">Cancel</button>
  		</div>
	</div>
  
	<!--  TRANSACTIONS table -->  
	<div class="card-transactions" th:if="${not #lists.isEmpty(editableTransactionList)}">
  	 
  		<table class="transactions">
  	 		<thead>
  	 			<tr>
	              	<th>Date</th>
	              	<th>Bill</th>
	              	<th>Paid</th>
	              	<th>Balance</th>
	              	<th>Notes</th>
	              	<th th:unless="${customerForm.modifiable == true}">Action</th>
            	</tr>
  	 		</thead>
  	 		<tbody>
  	 			
  	 			
  	 			<tr  th:each="transaction : ${editableTransactionList}" th:id="${'transaction-' + transaction.id}">
            		<td th:text="${transaction.date}" />
	            	<td th:text="${transaction.price}"/>
	            	<td th:text="${transaction.input}"/>
	            	<td th:text="${transaction.dailyBalance}"/>
	            	<td th:text="${transaction.notes}"/>
            		<td th:unless="${customerForm.modifiable == true}">
            			<a th:href="@{/edit-transaction.html(transactionId=${transaction.id})}" >Update</a></td>
            	</tr>
	        	<tr class="sum-row">
	           		<td th:text="'As of Today'" ></td>
		           	<td th:text="${customerForm.customer.billed}" ></td>
		           	<td th:text="${customerForm.customer.paid}" ></td>
		           	<td th:text="${customerForm.customer.balance}" ></td>
		           	<td th:text="' '" ></td>
		           	<td th:unless="${customerForm.modifiable == true}" th:text="' '" ></td>
	        	</tr>
  	 		</tbody>
  	 	</table>
  	 	
  	 	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="js/table_head_cell_size.js"></script>
        <script src="js/table_reverse_row_order.js"></script>
  	 
	</div>
  	 
</form> 

</div>

</body>
</html>
