<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title th:text="#{customers.title}">Customers</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" media="all" href="../../customer-list.css" th:href="@{/customer-list.css}"/>
  <meta charset="utf-8" />
</head>

<body>
  
  <div class="resultHead">
   <h1 th:text="#{customers.heading}">List of Customers</h1>
  </div> 
  
  <div class="date">
    <span th:text="#{customerDetails.date}">Today</span>
    <span th:text="*{date}"></span>
  </div>
  <br/>
  
  <div class="searchForm">
    <form action="#" th:action="@{/searchresults}" method="get">
    <label for="searchBox" th:text="#{customers.action.search.caption}">Search for a customer</label>
    <input id="searchBox" class="hint" type="search" name="searchExpression" placeholder="type a name" th:placeholder="#{customers.action.search.textbox.placeholder}" autocomplete="off" />
    <button id="searchSubmit" class="submit" title="Search" th:text="#{customers.action.search.button.title}" type="submit"></button>
    </form>
  </div>
  
  <br/>
  
  <div class="addbutton">
  <form action="#" th:action="@{/customer-details.html}" method="get">
      <button type="submit" th:text="#{customers.action.addCustomer}">Add a new Customer</button>
    </form>
  </div>
  
  	
  
  <div  class="customerList" th:if="${not #lists.isEmpty(allCustomerList.content)}">
 	
	  <ul>
	    <li  th:each="customer : ${allCustomerList.content}"   th:id="${'customer-' + customer.id}">
 			<a  href="customer.html" th:href="@{/customer-details.html(customerId=${customer.id})}">
		    	<span class="image">
	            	<img src="../static/images/coffee-icon.png" th:src="@{/images/coffee-icon.png}" />
	          	</span>
	             
		      	<span class="customerEntry">
		        	<span th:text="${customer.fullName}">Customer Name</span>
		      		<span class="type" th:text="${customer.type}"></span>
		      	</span>
		      	
		     </a>
		     
				<span th:id="${customer.id}" class="show-transactions-btn">
					<button class="show-button" th:type="button">Show Transactions</button>
				</span>
	     
	    </li>
	  </ul>
  </div>
  
   <div class="transaction-table">
		<span class="hide-transaction-btn">
	    	<button class="hide-button" th:type="button">Back to list</button>
	    </span>
	    
	    
		<table class="transactions">
		   	<thead>
		       	<tr>
		            <th >Date</th>
		            <th >Bill</th>
		            <th >Paid</th>
		            <th >Notes</th>
		        </tr>
		   	</thead>
		   	<tbody class="transactions-body">
		   		<tr>
        		</tr>
		   	</tbody>
		</table>
	</div>
			      
    
  <div class="no-data" th:if="${#lists.isEmpty(allCustomerList.content)}">
    <h3 th:text="#{customers.info.no-data}">Sorry, we do not have customers in the database.</h3>
  </div>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="js/AjaxGetRequest.js"></script>
  <script src="js/backToList.js"></script>
  <script src="js/table_head_cell_size.js"></script>
  <script src="js/table_reverse_row_order.js"></script>
  
</body>
</html>

