<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title th:text="#{customers.searchtitle}">searchcustomers</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" media="all" href="../../customer-list.css" th:href="@{/customer-list.css}"/>
</head>

<body>
  
  <div class="resultHead">
   <h1 th:text="#{customers.heading}">List of Customers</h1>
  </div> 

  <div class="searchForm">
    <form action="#" th:action="@{/searchresults}" method="get">
      <label for="searchBox" th:text="#{customers.action.search.caption}">Search for a customer</label>
      <input id="searchBox" class="hint" type="text" name="searchExpression" placeholder="type a name" th:placeholder="#{customers.action.search.textbox.placeholder}" autocomplete="off" />
      <button id="searchSubmit" class="submit" title="Search" th:text="#{customers.action.search.button.title}" type="submit"></button>
    </form>
  </div>
  
  <br/>
  <div class="addbutton">
  <form action="#" th:action="@{/}" method="get">
    <button type="submit" th:text="#{customers.action.backToList}">Back to all customers</button>
  </form>
  </div>
  
  <div class="customerList" th:if="${not #lists.isEmpty(searchResultsPage.content)}">
    <ul>
	  <li th:each="customer : ${searchResultsPage.content}" th:id="${'customer-' + customer.id}"><a href="customer.html" th:href="@{/customer-details.html(customerId=${customer.id})}">
	     
	    <span class="image">
          <img src="../static/images/coffee-icon.png" th:src="@{/images/coffee-icon.png}" />
        </span>
	    
	    <span class="searchCustomerEntry" th:text="${customer.fullName + ' (' + customer.Email + ')'}">Customer Name and Email</span>
	              
	      
	  </a></li>
	</ul>
	
  </div>

  <div class="no-data" th:if="${#lists.isEmpty(searchResultsPage.content)}">
    <h3 th:text="#{customers.info.no-results}">Sorry, we do not have matching customers in the database.</h3>
     </div>
     
    
 

</body>
</html>
