<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
<title th:text="#{editTransaction.title}">Customer</title>
  <link rel="stylesheet" href="../static/edit-transaction.css" th:href="@{edit-transaction.css}" />
  <meta charset="utf-8" />
</head>

<body>
	
<div class="container">

<form action="#" 
	th:action="@{/customer-details.html(customerId=${editedTransaction.customer.id})}" 
	th:object="${customer}" method="post">	

		<input type="hidden" th:field="${customer.id}" />

<h1 class="heading"> 
  		<span th:text="${customer.fullName} + '&nbsp;'">Name</span>
    	<span class="customerType" th:text="${' *' + customer.type}">Type</span>
  	</h1>
  
 	<div class="date">
	    <span th:text="#{editTransaction.date}">Date: </span>
	    <span th:text="${date}"></span>
	</div>
	
  <!--  Section for BUTTONS on the side -->  
	<div class="side-menu">
     
		<!--  Button: Cancel  
		<button type="submit" name="action" value="cancel" 
	   		th:value="${T(coffein.controller.form.CustomerDetailsForm.Action).CANCEL}" 
	   			th:text="#{editTransaction.action.cancel}">Cancel</button> -->
	   	<!--  Button: BACK to list of customers --> 
		<button type="submit" name="action" value="back" 
	   		th:value="${T(coffein.controller.form.CustomerDetailsForm.Action).BACK}" 
	   			th:text="#{customerDetails.form.action.back}">Back to list of customers</button>
	</div>
  </form> 
  
  <form action="#" 
	th:action="@{/edit-transaction.html(transactionId=${editedTransaction.id})}" 
	th:object="${editedTransaction}" method="post">

	<input type="hidden" th:field="*{id}" />
	<input type="hidden" th:field="*{date}" />
	<input type="hidden" th:field="*{dailyBalance}" />
	<input type="hidden" th:field="*{customer}" /> 
	
	<!-- Warning -->
	<h3 class="warning" th:if="${amountError}" 
   		th:text="#{warnings.amountError}">Amount must not be negative</h3>
   	 
	  
	<!-- Section to SHOW TRANSACTIONS 	-->	
	<div class="card-transactions">
 
		<table class="transactions">
        	<thead>
            	<tr>
		            <th>Date</th>
		            <th>Bill</th>
		            <th>Paid</th>
		            <th>Balance</th>
		            <th>Notes</th>
		            <th>Action</th>
	            </tr>
          	</thead>
          	<tbody>
          		<tr  th:each="transaction : ${preDateTransactionList}" th:id="${'transaction-' + transaction.id}">
            		<td th:text="${transaction.date}" />
	            	<td th:text="${transaction.price}"/>
	            	<td th:text="${transaction.input}"/>
	            	<td th:text="${transaction.dailyBalance}"/>
	            	<td th:text="${transaction.notes}"/>
	            	
            		<td class="transactions"><a th:href="@{/edit-transaction.html(transactionId=${transaction.id})}" >Update</a></td>
            	</tr>
	           <tr class="input-row">
	            	
	            	<td th:text="${editedTransaction.date}" />
	            	<td><input type="number"  th:field="${editedTransaction.price}" /></td>
	            	<td><input type="number"  th:field="${editedTransaction.input}" /></td>
	            	<td th:text="${editedTransaction.dailyBalance}"/>
	            	<td><input class="transaction-input" type="text"  th:field="${editedTransaction.notes}" /></td>
	            	<td class="transactions">
	            		<div class="save-button">
	  					<button type="submit" th:text="#{editTransaction.button.save}">SAVE</button></div>
	  				</td>
	            </tr>
	           
	            <tr  th:each="transaction : ${postDateTransactionList}" th:id="${'transaction-' + transaction.id}">
            		<td th:text="${transaction.date}" />
	            	<td th:text="${transaction.price}"/>
	            	<td th:text="${transaction.input}"/>
	            	<td th:text="${transaction.dailyBalance}"/>
	            	<td th:text="${transaction.notes}"/>
	            	
            		<td class="transactions"><a th:href="@{/edit_transaction.html(transactionId=${transaction.id})}" >Update</a></td>
            	 </tr>
            	
            	<tr class="sum-row">
	           		<td th:text="'As of Today'" ></td>
		           	<td th:text="${customer.billed}" ></td>
		           	<td th:text="${customer.paid}" ></td>
		           	<td th:text="${customer.balance}" ></td>
		           	<td th:text="' '" ></td>
	        	</tr>	
	           
          	</tbody>
        </table>
        
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="js/table_head_cell_size.js"></script>
        <script src="js/table_reverse_row_order.js"></script>
	  
	</div> 
			
</form>
</div>
</body>
</html>