<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

  <head>
    <title th:remove="all" th:text="#{emailTemplate.title}">Email to customer</title>
    <!-- <link rel="stylesheet" href="../static/customer-details.css" th:href="@{customer-details.css}" />  -->
  </head>
  <body>
	  
	<div class="card" th:remove="tag">
		
		<div class="messageBody">
			<span th:text="${message}"></span>
		</div>
	  
		<div class="signature">
			<p><img src="https://media-cdn.tripadvisor.com/media/photo-s/0d/aa/e3/c4/tapas.jpg" th:src="@{https://media-cdn.tripadvisor.com/media/photo-s/0d/aa/e3/c4/tapas.jpg}" /></p>
			<p>Regards, 
   			<br />
   			<em>Kahu Café</em></p>
		</div>
    
    </div>
    
  </body>
</html>